/* SMOOTHER SCROLLING*/
html{
  scroll-behavior: smooth;
}


/* FONT IMPORT */
@font-face{
  font-family: 'league_spartan';
  src: url('../../Fonts/LeagueSpartan/leaguespartan.woff2') format('woff2'),
       url('../../Fonts/LeagueSpartan/leaguespartan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'roboto_condensed';
  src: url('../../Fonts/RobotoCondensed/robotocondensed.woff2') format('woff2'),
       url('../../Fonts/RobotoCondensed/robotocondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* BODY */
body{
  margin: 0;
  color: black;
  background-color: white;
  font-family: 'roboto_condensed';
  overflow-x: hidden;
}


/* SCROLLBAR */
*{
  scrollbar-width: 2ex;
  scrollbar-color: black white;
}

*::-webkit-scrollbar{
  width: 12px;
}

*::-webkit-scrollbar-track{
  background: white;
}

*::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 20px;
}


/* HEADER */
.header{
  display: flex;
  top: 0;
  width: 100%;
  position: sticky;
  background-color: white;
  height: 5em;
  background-size: cover;
  align-items: center;
}


/* NOM */
.name{
  text-decoration: none;
  font-family: "league_spartan";
  color: black;
  font-size: 3.5ex;
  margin-left: 2ex;
}


/* BARRE DE NAVIGATION */
.nav{
  padding: 0;
  margin-left: 20ex;
}

@media screen and (max-height: 800px){
  .nav{
    padding: 0;
    margin-left: 5ex;
  } 
}

.nav li{
    display: inline-block;
    font-size: 1.5em;
    margin-left: 5ex;
    text-decoration: none;
    color: black;
}


/* MENU DES PARAMÈTRES */
.Parameters{
  text-decoration: none;
  color: black; 
  transition: color 0.3s ease;
}

a:hover{
  color: tomato;
}

#menuToggle{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -2.75ex;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  top: -1.75ex;
  margin-bottom: -0.5ex;
  height: 3ex;
  font-size: 5ex;
  position: relative;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
}

#menuToggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
}

#menu{
  position: absolute;
  width: 25ex;
  margin: -15ex 0 0 0;
  padding: 2.5ex;
  padding-top: 10ex;
  right: -100px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border: .5ex solid black;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}


/* IMAGE D'ACCUEIL */
.img_acc{
  width: 100%;
  height: 110ex;
  position: absolute;
  z-index: -1;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

@media screen and (max-height:800px){
  .img_acc{
    width: 100%;
    height: 85ex;
    position: absolute;
    z-index: -1;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
}


/* TITRE ET SOUS-TITRE PRINCIPAL */
.title{
  width: 45ex;
  height: 22.5ex;
  margin-left: 100ex;
  border: 10px solid black;
  border-radius: 50%;
}

h1{
  font-family: 'league_spartan';
  z-index: 1;
  width: 15.5ex;
  padding: 1.5ex;
  font-size: 5ex;
}

h2{
  font-family: 'league_spartan';
  width: 19ex;
  margin-top: -5.5ex;
  margin-left: 6.75ex;
  font-size: 3ex;
}

.arrow{
  width: 1ex;
  font-family: 'league_spartan';
  margin-top: -4ex;
  margin-left: 34ex;
  font-size: 3em;
  transform: rotate(-34.5deg);
}

@media screen and (max-height:800px){
  .title{
    width: 40ex;
    height: 20ex;
    margin-left: 77.5ex;
    border: 5px solid black;
    border-radius: 50%;
  }
  
  h1{
    font-family: 'league_spartan';
    z-index: 1;
    width: 15.5ex;
    padding: 2ex;
    font-size: 3.8ex;
  }
  
  h2{
    font-family: 'league_spartan';
    width: 19ex;
    margin-top: -5.5ex;
    margin-left: 4.75ex;
    font-size: 2.8ex;
  }
  
  .arrow{
    width: 1ex;
    font-family: 'league_spartan';
    margin-top: -5ex;
    margin-left: 39.6ex;
    font-size: 2em;
    transform: rotate(-34.5deg);
  }
}


/* PRÉSENTATION */
#Presentation{
  margin-top: 97.5ex;
  height: 65ex;
}

#Presentation img{
  border-radius: 35px;
  height: 70ex;
  margin-left: 30ex;
}

#Presentation article{
  width: 47ex;
  margin-left: 75ex;
  margin-top: -45ex;
  font-size: 3ex;
  line-height: 2.75ex;
}  

@media screen and (max-height:800px){
  #Presentation{
    margin-top: 70ex;
    height: 65ex;
  }
  
  #Presentation img{
    border-radius: 35px;
    height: 60ex;
    margin-left: 20ex;
  }
  
  #Presentation article{
    width: 47ex;
    margin-left: 70ex;
    margin-top: -45ex;
    font-size: 2.5ex;
    line-height: 2.75ex;
  }  
}


/* BACHELOR UNIVERSITAIRE TECHNOLOGIQUE */
.BUT h3{
  color: #f80040;
  margin-left: 75ex;
  font-size: 3ex;
}

.BUT .date{
  margin-left: 112.75ex;
  margin-top: -2ex;
  font-size: 2ex;
}

.BUT ul{
  margin-top: -1.75ex;
}

.BUT li{
  margin-left: 90ex;
  font-size: 2.5ex;
}

.BUT .place{
  margin-left: 153ex;
  margin-top: -1ex;
  color: #f80040;
  font-size: 2ex
}


@media screen and (max-height:800px){
  .BUT h3{
    color: #f80040;
    margin-left: 79ex;
  }
  
  .BUT .date{
    margin-left: 92.3ex;
    margin-top: -2ex;
  }
  
  .BUT ul{
    margin-top: -1.75ex;
  }
  
  .BUT li{
    margin-left: 85ex;
    font-size: 2ex;
  }
  
  .BUT .place{
    margin-left: 115.5ex;
    margin-top: -1ex;
    color: #f80040;
    font-size: 2ex
  }
}

/* BACCALAURÉAT */
.BAC h3{
  color: #f80040;
  margin-left: 75ex;
  font-size: 3ex;
}

.BAC .date{
  margin-left: 112.75ex;
  margin-top: -2ex;
  font-size: 2ex;
}

.BAC ul{
  margin-top: -1.75ex;
}

.BAC li{
  margin-left: 90ex;
  width: 40ex;
  font-size: 2.5ex;
}

.BAC .place{
  margin-left: 140ex;
  margin-top: -1ex;
  color: #f80040;
  font-size: 2ex
}

@media screen and (max-height:800px){
  .BAC h3{
    color: #f80040;
    margin-left: 79ex;
  }
  
  .BAC .date{
    margin-left: 92.3ex;
    margin-top: -2ex;
  }
  
  .BAC ul{
    margin-top: -1.75ex;
  }
  
  .BAC li{
    margin-left: 85ex;
    font-size: 2ex;
    width: 40ex;
  }
  
  .BAC .place{
    margin-left: 102.5ex;
    margin-top: -1ex;
    color: #f80040;
    font-size: 2ex
  }
}


/* COMPÉTENCES */
#Competences{
  margin-top: 20ex;
}

@media screen and (max-height:800px){
  #Competences{
    margin-top: 5ex;
  }
}


/* DÉVELOPPEMENT LOGICIEL */
.devLogiciel{
  width: 60ex;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 45ex;
}

.devLogiciel h3{
  background-color: #bfbfc9;
  font-size: 4ex;
  font-family: 'league_spartan';
  color: #f80040;
  width: 30ex;
  text-align: center;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

.devLogiciel ul{
  background-color: #bfbfc9;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 57.5ex;
  height: 25ex;
  margin-top: -3.5ex;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.devLogiciel li{
  color: white;
  font-size: 3.5ex;
  margin-left: 3ex;
}

.javaIco{
  height: 3.5ex;
  margin-left: 3.5ex;
}

.cIco{
  height: 3.5ex;
  margin-left: 6ex;
}

.pythonIco{
  height: 3.5ex;
  margin-top: .5ex;
}

@media screen and (max-height:800px){
  .devLogiciel{
    width: 60ex;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 20ex;
  }
}


/* DÉVELOPPEMENT WEB */
.devWeb{
  width: 60ex;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 15ex;
}

.devWeb h3{
  background-color: #bfbfc9;
  font-size: 4ex;
  font-family: 'league_spartan';
  color: #f80040;
  width: 30ex;
  text-align: center;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

.devWeb ul{
  background-color: #bfbfc9;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 57.5ex;
  height: 25ex;
  margin-top: -3.5ex;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.devWeb li{
  color: white;
  font-size: 3.5ex;
  margin-top: 1.5ex;
  margin-left: 3ex;
}

.htmlIco{
  height: 3.5ex;
  margin-left: 3.5ex;
}

.cssIco{
  height: 3.5ex;
  margin-left: 5ex;
}


/* GESTION DE BASES DE DONNÉES */
.bdd{
  width: 60ex;
  display: flex;
  flex-wrap: wrap;
  margin-left: 82.5ex;
}

.bdd h3{
  background-color: #bfbfc9;
  font-size: 4ex;
  font-family: 'league_spartan';
  color: #f80040;
  width: 30ex;
  text-align: center;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

.bdd ul{
  background-color: #bfbfc9;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 57.5ex;
  height: 25ex;
  margin-top: -3.5ex;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.bdd li{
  color: white;
  font-size: 3.5ex;
  margin-top: 1.5ex;
  margin-left: 3ex;
}

.sqlIco{
  height: 3.5ex;
  margin-left: 3.5ex;
}

.umlIco{
  height: 3.5ex;
  margin-left: 3.5ex;
}

@media screen and (max-height:800px){
  .bdd{
    width: 60ex;
    display: flex;
    flex-wrap: wrap;
    margin-left: 57.5ex;
  }
}


/* PROJETS */
#Projets{
  margin-top: 12.5ex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media screen and (max-height:800px) {
  #Projets{
    margin-top: 5ex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}



/* SITE PERSONNEL */
.sitePerso img{
  border-radius: 15px;
  height: 50ex;
}

.sitePerso h3{
  font-size: 4ex;
  margin-left: 47.5ex;
  margin-top: -21ex;
  color: #f80040;
}

.sitePerso article{
  margin-left: 63ex;
  font-size: 3ex;
  margin-top: -1.5ex;
}

.sitePerso h4{
  margin-left: 63ex;
  font-size: 3ex;
  color: #f80040;
}

.sitePerso p{
  margin-left: 70.5ex;
  font-size: 3ex;
  margin-top: -5ex;
}

@media screen and (max-height:800px){
  .sitePerso img{
    border-radius: 15px;
    height: auto;
  }
  
  .sitePerso h3{
    font-size: 3ex;
    margin-left: 50ex;
    margin-top: -22.5ex;
    color: #f80040;
  }

  .sitePerso article{
    margin-left: 60ex;
    font-size: 2.5ex;
  }

  .sitePerso h4{
    margin-left: 60ex;
    font-size: 2.5ex;
    color: #f80040;
  }
  
  .sitePerso p{
    margin-left: 67.5ex;
    font-size: 2.5ex;
    margin-top: -5ex;
  }
}


/* GESTION DE COUPLE DE PARENTHÈSES */
.parenthesePy{
  margin-top: 35ex;
  margin-bottom: 35ex;
}

.parenthesePy img{
  border-radius: 15px;
  margin-left: 95ex;
  height: 50ex;
}

.parenthesePy h3{
  font-size: 3.5ex;
  margin-top: -25ex;
  color: #f80040;
}

.parenthesePy article{
  font-size: 3ex;
  width: 45ex;
}

.parenthesePy h4{
  font-size: 3ex;
  color: #f80040;
}

.parenthesePy p{
  margin-left: 7.5ex;
  font-size: 3ex;
  margin-top: -5ex;
}

@media screen and (max-height:800px){
  .parenthesePy{
    margin-top: 15ex;
    margin-bottom: 15ex;
  }

  .parenthesePy img{
    border-radius: 15px;
    margin-left: 75ex;
  }
  
  .parenthesePy h3{
    font-size: 3ex;
    margin-top: -21ex;
    color: #f80040;
  }
  
  .parenthesePy article{
    font-size: 2.5ex;
    width: 45ex;
  }
  
  .parenthesePy h4{
    font-size: 2.5ex;
    color: #f80040;
  }
  
  .parenthesePy p{
    margin-left: 7.5ex;
    font-size: 2.5ex;
    margin-top: -5ex;
  }
}


/* JOB D'ÉTÉ */
.jobEte img{
  border-radius: 15px;
  height: 35ex;
}

.jobEte h3{
  font-size: 4ex;
  margin-left: 47.5ex;
  margin-top: -20ex;
  color: #f80040;
}

.jobEte article{
  margin-left: 63ex;
  font-size: 3ex;
  margin-top: -1.5ex;
}

.jobEte h4{
  margin-left: 63ex;
  font-size: 3ex;
  color: #f80040;
}

.jobEte p{
  margin-left: 70.5ex;
  font-size: 3ex;
  margin-top: -5ex;
}

@media screen and (max-height:800px){
  .jobEte img{
    border-radius: 15px;
    height: 25ex;
  }
  
  .jobEte h3{
    font-size: 3ex;
    margin-left: 50ex;
    margin-top: -20ex;
    color: #f80040;
  }
  
  .jobEte article{
    margin-left: 60ex;
    font-size: 2.5ex;
  }
  
  .jobEte h4{
    margin-left: 60ex;
    font-size: 2.5ex;
    color: #f80040;
  }
  
  .jobEte p{
    margin-left: 67.5ex;
    font-size: 2.5ex;
    margin-top: -5ex;
  }
}


/* FOOTER */
footer{
  margin-top: 15ex;
}


/* GMAIL */
.gmail{
  display: inline-block;
}

.gmailIco{
  height: 6ex;
  margin-left: 20ex;
}

.gmailIco + a{
  display: block;
  font-size: 3ex;
  color: black;
  text-decoration: none;
  margin-left: 20ex;
  margin-top: -3.5ex;
}

.gmailIco + a:hover{
  color: tomato;
}

@media screen and (max-height:800px){
  .gmailIco{
    height: 5ex;
    margin-left: 20ex;
  }
  
  .gmailIco + a{
    display: block;
    font-size: 2.5ex;
    color: black;
    text-decoration: none;
    margin-left: 22.5ex;
    margin-top: -3.5ex;
  }
}


/* LINKEDIN */
.linkedin{
  display: inline-block;
}

.linkedinIco{
  height: 6ex;
  margin-left: 30ex;
}

.linkedinIco + a{
  display: block;
  font-size: 3ex;
  color: black;
  text-decoration: none;
  margin-top: -3.5ex;
  margin-left: 23.5ex;
}

.linkedinIco + a:hover{
  color: tomato;
}

@media screen and (max-height:800px){
  .linkedinIco{
    height: 5ex;
    margin-left: 20ex;
  }
  
  .linkedinIco + a{
    display: block;
    font-size: 2.5ex;
    color: black;
    text-decoration: none;
    margin-top: -3.5ex;
    margin-left: 20ex;
  }
}


/* CV */
.cv{
  display: inline-block;
}

.cvIco{
  height: 6ex;
  margin-left: 35ex;
}

.cvIco + a{
  display: block;
  font-size: 3ex;
  color: black;
  text-decoration: none;
  margin-top: -3.5ex;
  margin-left: 27.5ex;
}

.cvIco + a:hover{
  color: tomato;
}

@media screen and (max-height:800px){
  .cvIco{
    height: 5ex;
    margin-left: 25ex;
  }
  
  .cvIco + a{
    display: block;
    font-size: 2.5ex;
    color: black;
    text-decoration: none;
    margin-left: 15ex;
    margin-top: -3.5ex;
    margin-left: 25ex;
  }
}
